<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} / チームラボ オンラインスキルアップ課題</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <img src="../images/logo.jpg" align="middle">
          チームラボ オンラインスキルアップ課題
        </h1>
      </header>
      <section>
        <div id="side_menu">
          <h2>目次</h2>
          <ul>
            <li><a href="../index.html">はじめに</a>
          </ul>
          <h3>STEP1 TODOリスト（フロントエンド）を作ろう</h3>
          <ul>
            <li><a href="../1/1.html">1.サンプルコードを動かしてみる</a>
            <li><a href="../1/2.html">2.Javascriptを書いてみる</a>
            <li><a href="../1/3.html">3.HTML,CSSを書いてみる</a>
            <li><a href="../1/4.html">4.jQueryを使ってみる</a>
            <li><a href="../1/5.html">5.ローカルストレージを使ってみる</a>
            <li><a href="../1/6.html">6.入力チェックを作ってみる</a>
            <li><a href="../1/7.html">7.画面仕様書とは</a>
            <li><a href="../1/8.html">最終課題</a>
          </ul>
          
          <h3>STEP2 TODOリスト（フロントエンド＋サーバサイドバージョン）を作ろう</h3>
          <ul>
            <li><a href="../2/1.html">1.インターネットのしくみ</a>
            <li><a href="../2/2.html">2.HTTPのしくみ</a>
            <li><a href="../2/3.html">3.NodeJSとは</a>
            <li><a href="../2/4.html">4.NodeJSでWEBサーバを立ててみる</a>
            <li><a href="../2/5.html">5.パッケージマネージャのNPMとは</a>
            <li><a href="../2/6.html">6.NPMを使ってexpressをインストールして使ってみる</a>
            <li><a href="../2/7.html">7.MongoDBをインストールして使ってみる</a>
            <li><a href="../2/8.html">8.MongoDBを設計してみる</a>
            <li><a href="../2/9.html">9.ブラウザ（Javascript）とサーバ（NodeJS）を連携してみる</a>
            <li><a href="../2/10.html">最終課題</a>
          </ul>
          
          <h3>STEP3 オリジナルチャットシステムを作ろう</h3>
          <ul>
            <li><a href="../3/1.html">1.websocketを使ってみる</a>
            <li><a href="../3/2.html">2.画面仕様書,スケジュールを作ってみる</a>
            <li><a href="../3/3.html">3.テストとは</a>
            <li><a href="../3/4.html">4.単体テストを書いてみる</a>
            <li><a href="../3/5.html">5. ??? </a>
            <li><a href="../3/6.html">6.バージョン管理をしてみる</a>
            <li><a href="../3/7.html">7.Herokuとは</a></li>
            <li><a href="../3/9.html">8.セキュリティ対策をしてみる</a>
            <li><a href="../3/10.html">最終課題</a>
          </ul>
        </div>
        <div id="contents">
          {{ content }}
        </div>
      </section>
    </div>
  </body>
</html>