<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>チームラボ オンラインスキルアップ課題</title>
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <link rel="stylesheet" href="./stylesheets/pygment_trac.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <img src="./images/logo.jpg" align="middle">
          チームラボ オンラインスキルアップ課題
        </h1>
      </header>
      <section>
        <div id="side_menu">
          <h2>目次</h2>
          <ul>
            <li><a href="./index.html">はじめに</a>
          </ul>
          <h3>STEP1 TODOリスト（フロントエンド）を作ろう</h3>
          <ul>
            <li><a href="./1/1.html">1.サンプルコードを動かしてみる</a>
            <li><a href="./1/2.html">2.Gitを使ってみる</a>
            <li><a href="./1/3.html">3.JavaScriptを書いてみる</a>
            <li><a href="./1/4.html">4.HTML,CSSを書いてみる</a>
            <li><a href="./1/5.html">5.jQueryを使ってみる</a>
            <li><a href="./1/6.html">6.ローカルストレージを使ってみる</a>
            <li><a href="./1/7.html">7.入力チェックを作ってみる</a>
            <li><a href="./1/8.html">8.画面仕様書とは</a>
            <li><a href="./1/9.html">最終課題</a>
          </ul>
          
          <h3>STEP2 TODOリスト（フロントエンド＋サーバサイドバージョン）を作ろう</h3>
          <ul>
            <li><a href="./2/1.html">1.インターネットのしくみ</a>
            <li><a href="./2/2.html">2.HTTPのしくみ</a>
            <li><a href="./2/3.html">3.NodeJSとは</a>
            <li><a href="./2/4.html">4.パッケージマネージャのNPMとは</a>
            <li><a href="./2/5.html">5.NPMを使ってexpressをインストールして使ってみる</a>
            <li><a href="./2/6.html">6.MongoDBをインストールして使ってみる</a>
            <li><a href="./2/7.html">7.MongoDBを設計してみる</a>
            <li><a href="./2/8.html">8.ブラウザ（JavaScript）とサーバ（NodeJS）を連携してみる</a>
            <li><a href="./2/9.html">最終課題</a>
          </ul>
          
          <h3>STEP3 オリジナルチャットシステムを作ろう</h3>
          <ul>
            <li><a href="./3/1.html">1.websocketを使ってみる</a>
            <li><a href="./3/2.html">2.画面仕様書,スケジュールを作ってみる</a>
            <li><a href="./3/3.html">3.テストとは</a>
            <li><a href="./3/4.html">4.単体テストを書いてみる</a>
            <li><a href="./3/5.html">5.Herokuとは</a></li>
            <li><a href="./3/6.html">6.Herokuを使って公開してみる</a></li>
            <li><a href="./3/7.html">最終課題</a>
          </ul>
        </div>
        <div id="contents">
          {{ content }}
        </div>
      </section>
    </div>
  </body>
</html>
